@mixin trans-background($color, $opacity: 0.9) {
  background-color: $color;
  background-color: rgba($color, $opacity);
}

$purple: #7d5cc6;
$dark-gray: #464646;
$gray: #333333;
$light-gray: #d2d2d2;
$yellow: #f3cf45;

$font-size-xs: 0.8em;
$font-size-sm: 1em;
$font-size-md: 1.2em;
$font-size-lg: 1.5em;
$font-size-xl: 1.8em;

$spacing: 8px;
